# Force SQL
*.sql linguist-language=SQL

# Don't count these files in language stats
*.doc  linguist-vendored
*.docx linguist-vendored
*.pdf  linguist-vendored
*.txt  linguist-vendored
*.md   linguist-documentation
